In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import re
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

## gathreing date sets

### 2022

In [2]:
steamspy2022= pd.read_csv("2022 - Year Stats - SteamSpy - All the data and stats about Steam games.csv")
print(steamspy2022.shape)
steamspy2022.head(2)

(10112, 9)

,#,Game,Release date,Price,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s)
0,10111,Lost Ark,"Feb 11, 2022",Free,N/A (N/A),"50,000,000 .. 100,000,000",03:53 (04:11),Smilegate RPG,Amazon Games
1,2,ELDEN RING,"Feb 24, 2022",$59.99,N/A (N/A/94%),"20,000,000 .. 50,000,000",06:41 (04:22),"FromSoftware, Inc.","FromSoftware, Inc., Bandai Namco Entertainment"

In [3]:
steamdb2022= pd.read_excel("steam2022.xlsx")
print(steamdb2022.shape)
steamdb2022.head(2)

(10001, 12)

,Unnamed: 0,ID,Logo,Name,Discount %,Price,Rating,Release,Follows,Online,Peak,Year
0,0.0,1.0,NaN,Vampire Survivors,NaN,14.99 SR,97.33%,20 Oct,"117,050","4,199","77,061",2022
1,1.0,2.0,NaN,Entropy : Zero 2,NaN,Free,96.06%,20 Aug,"11,573",141,"3,751",2022

In [4]:
steamspy2022.rename(columns={'Game': 'Name'}, inplace=True)

In [5]:
result2022 = pd.merge(steamspy2022, steamdb2022, on="Name")
print(result2022.shape)
result2022

(6237, 20)

,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),Unnamed: 0,ID,Logo,Discount %,Price_y,Rating,Release,Follows,Online,Peak,Year
0,10111,Lost Ark,"Feb 11, 2022",Free,N/A (N/A),"50,000,000 .. 100,000,000",03:53 (04:11),Smilegate RPG,Amazon Games,5654.0,5655.0,NaN,NaN,Free,70.72%,11 Feb,"279,300","23,294","1,325,305",2022
1,2,ELDEN RING,"Feb 24, 2022",$59.99,N/A (N/A/94%),"20,000,000 .. 50,000,000",06:41 (04:22),"FromSoftware, Inc.","FromSoftware, Inc., Bandai Namco Entertainment",100.0,101.0,NaN,NaN,249.00 SR,91.97%,24 Feb,"1,010,509","52,411","953,426",2022
2,98,Mount & Blade II: Bannerlord,"Oct 25, 2022",$49.99,N/A (N/A/77%),"10,000,000 .. 20,000,000",14:13 (07:18),TaleWorlds Entertainment,TaleWorlds Entertainment,476.0,477.0,NaN,NaN,189.00 SR,87.01%,25 Oct,"845,763","28,790","248,216",2022
3,10112,Raft,"Jun 20, 2022",$19.99,N/A (N/A),"10,000,000 .. 20,000,000",07:44 (11:16),Redbeet Interactive,Axolot Games,75.0,76.0,NaN,NaN,56.00 SR,92.51%,20 Jun,"610,544","11,231","101,096",2022
4,4,God of War,"Jan 14, 2022",$49.99,N/A (N/A/93%),"5,000,000 .. 10,000,000",01:03 (01:02),"Santa Monica Studio, Jetpack Interactive",PlayStation Publishing LLC,16.0,17.0,NaN,NaN,215.00 SR,94.86%,14 Jan,"275,215","4,248","73,529",2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,9702,Burnhouse Lane,"Dec 2, 2022",$14.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),Harvester Games,Harvester Games,336.0,337.0,NaN,NaN,29.95 SR,88.44%,02 Dec,"2,461",7,133,2022
6233,9711,BBQ Simulator: The Squad,"May 25, 2022",$3.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),CubeCube Sports Ltd.,CubeCube Sports Ltd.,2090.0,2091.0,NaN,NaN,9.95 SR,79.20%,25 May,"1,659",1,152,2022
6234,9719,OverDrift Festival,"Dec 21, 2022",$6.29,N/A (N/A),"0 .. 20,000",00:00 (00:00),OverDrift Crew,OverDrift Crew,2913.0,2914.0,NaN,-37%,14.16 SR,76.96%,22 Dec,"5,459",12,128,2022
6235,9765,Spirit of the Island,"Aug 17, 2022",$14.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),1M Bits Horde,META Publishing,7986.0,7987.0,NaN,NaN,29.95 SR,65.66%,17 Aug,"16,340",40,665,2022
6236,9891,Golden Light,"Mar 11, 2022",$6.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),Mr. Pink,HypeTrain Digital,753.0,754.0,NaN,-65%,13.65 SR,85.11%,11 Mar,"10,676",5,160,2022

### 2023

In [6]:
steamdb2023= pd.read_excel("steam2023.xlsx")

In [7]:
steamspy2023= pd.read_csv("2023 - Year Stats - SteamSpy - All the data and stats about Steam games.csv")

In [8]:
steamspy2023.rename(columns={'Game': 'Name'}, inplace=True)
result2023 = pd.merge(steamspy2023, steamdb2023, on="Name")
print(result2023.shape)
result2023

(6338, 20)

,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),Unnamed: 0,ID,Logo,Discount %,Price_y,Rating,Release,Follows,Online,Peak,Year
0,1,Baldur's Gate 3,"Aug 3, 2023",$59.99,N/A (N/A/96%),"20,000,000 .. 50,000,000",11:32 (06:30),Larian Studios,Larian Studios,8.0,9.0,NaN,NaN,229.00 SR,95.98%,03 Aug,"878,209","75,219","875,343",2023
1,46,Hogwarts Legacy,"Feb 10, 2023",$59.99,N/A (N/A/83%),"10,000,000 .. 20,000,000",08:09 (31:57),Avalanche Software,Warner Bros. Games,230.0,231.0,NaN,NaN,224.00 SR,89.75%,10 Feb,"637,220",NaN,"879,308",2023
2,11650,Lethal Company,"Oct 23, 2023",$9.99,N/A (N/A),"10,000,000 .. 20,000,000",02:48 (01:54),Zeekerss,Zeekerss,4.0,5.0,NaN,NaN,22.49 SR,96.35%,23 Oct,"288,155","18,932","240,817",2023
3,7,Resident Evil 4,"Mar 23, 2023",$39.99,N/A (N/A/91%),"5,000,000 .. 10,000,000",04:29 (06:39),"CAPCOM Co., Ltd.","CAPCOM Co., Ltd.",6.0,7.0,NaN,NaN,130.00 SR,96.31%,23 Mar,"239,498","5,953","168,191",2023
4,13,DAVE THE DIVER,"Jun 28, 2023",$19.99,N/A (N/A/90%),"2,000,000 .. 5,000,000",11:14 (14:09),MINTROCKET,MINTROCKET,11.0,12.0,NaN,NaN,40.95 SR,95.76%,28 Jun,"186,503","5,621","98,480",2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6333,11237,The Backrooms: Survival,"Sep 15, 2023",$9.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),RE:CODE,RE:CODE,2126.0,2127.0,NaN,NaN,22.49 SR,80.00%,15 Sep,"2,706",NaN,78,2023
6334,11245,D'LIRIUM,"Oct 25, 2023",$4.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),B52 Development Team,B52 Development Team,243.0,244.0,NaN,NaN,11.95 SR,89.63%,25 Oct,"3,184",NaN,80,2023
6335,11380,Stella of The End,"Sep 25, 2023",$19.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),VisualArts/Key,VisualArts,72.0,73.0,NaN,NaN,34.95 SR,92.82%,26 Sep,"7,521",11,173,2023
6336,11442,I Am Future: Cozy Apocalypse Survival,"Aug 8, 2023",$19.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),Mandragora,tinyBuild,826.0,827.0,NaN,NaN,40.95 SR,85.09%,08 Aug,"26,451",NaN,"2,674",2023
6337,11566,Cassette Beasts,"Apr 26, 2023",$19.99,N/A (N/A),"0 .. 20,000",00:00 (00:00),Bytten Studio,Raw Fury,88.0,89.0,NaN,NaN,40.95 SR,92.44%,26 Apr,"35,551",180,"2,764",2023

### 2024

In [9]:
steamdb2024= pd.read_excel("steam2024.xlsx")

In [10]:
steamspy2024= pd.read_csv("2024 - Year Stats - SteamSpy - All the data and stats about Steam games.csv")
steamspy2024.head(2)

,#,Game,Release date,Price,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s)
0,11600,Palworld,"Jan 18, 2024",$29.99,N/A (N/A),"50,000,000 .. 100,000,000",07:19 (07:13),Pocketpair,Pocketpair
1,11602,Black Myth: Wukong,"Aug 19, 2024",$59.99,N/A (N/A),"50,000,000 .. 100,000,000",07:20 (02:56),Game Science,Game Science

In [11]:
steamspy2024.rename(columns={'Game': 'Name'}, inplace=True)
result2024 = pd.merge(steamspy2024, steamdb2024, on="Name")
print(result2024.shape)
result2024

(7050, 20)

,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),Unnamed: 0,ID,Logo,Discount %,Price_y,Rating,Release,Follows,Online,Peak,Year
0,11600,Palworld,"Jan 18, 2024",$29.99,N/A (N/A),"50,000,000 .. 100,000,000",07:19 (07:13),Pocketpair,Pocketpair,71,72,NaN,NaN,61.49 SR,92.78%,19 Jan,"560,210","23,488","2,101,867",2024
1,11600,Palworld,"Jan 18, 2024",$29.99,N/A (N/A),"50,000,000 .. 100,000,000",07:19 (07:13),Pocketpair,Pocketpair,1270,1271,NaN,NaN,61.49 SR,92.78%,20 Jan,"560,211","23,489","2,101,868",2024
2,11600,Palworld,"Jan 18, 2024",$29.99,N/A (N/A),"50,000,000 .. 100,000,000",07:19 (07:13),Pocketpair,Pocketpair,2469,2470,NaN,NaN,61.49 SR,92.78%,21 Jan,"560,212","23,490","2,101,869",2024
3,11600,Palworld,"Jan 18, 2024",$29.99,N/A (N/A),"50,000,000 .. 100,000,000",07:19 (07:13),Pocketpair,Pocketpair,3668,3669,NaN,NaN,61.49 SR,92.78%,22 Jan,"560,213","23,491","2,101,870",2024
4,11600,Palworld,"Jan 18, 2024",$29.99,N/A (N/A),"50,000,000 .. 100,000,000",07:19 (07:13),Pocketpair,Pocketpair,4867,4868,NaN,NaN,61.49 SR,92.78%,23 Jan,"560,214","23,492","2,101,871",2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,11458,WEBFISHING,"Oct 11, 2024",$4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,6011,6012,NaN,NaN,11.95 SR,94.49%,16 Oct,"4,397","3,371","9,714",2024
7046,11458,WEBFISHING,"Oct 11, 2024",$4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,7210,7211,NaN,NaN,11.95 SR,94.49%,17 Oct,"4,398","3,372","9,715",2024
7047,11458,WEBFISHING,"Oct 11, 2024",$4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,8409,8410,NaN,NaN,11.95 SR,94.49%,18 Oct,"4,399","3,373","9,716",2024
7048,11458,WEBFISHING,"Oct 11, 2024",$4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,9608,9609,NaN,NaN,11.95 SR,94.49%,19 Oct,"4,400","3,374","9,717",2024
7049,11458,WEBFISHING,"Oct 11, 2024",$4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,10807,10808,NaN,NaN,11.95 SR,94.49%,20 Oct,"4,401","3,375","9,718",2024

### Save DS's

In [12]:
# result2022.to_excel("result2022.xlsx")
# result2023.to_excel("result2023.xlsx")
# result2024.to_excel("result2024.xlsx")

## steam resulte cleaning date

In [13]:
steam= pd.read_excel("steam_22_24.xlsx")

In [14]:
print(steam.shape)
steam.head(3)

(19625, 21)

,Unnamed: 0.1,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),...,ID,Logo,Discount %,Price_y,Rating,Release,Follows,Online,Peak,Year
0,0,10111,Lost Ark,"Feb 11, 2022",Free,N/A (N/A),"50,000,000 .. 100,000,000",03:53 (04:11),Smilegate RPG,Amazon Games,...,5655.0,NaN,NaN,Free,70.72%,11 Feb,"279,300","23,294","1,325,305",2022
1,1,2,ELDEN RING,"Feb 24, 2022",$59.99,N/A (N/A/94%),"20,000,000 .. 50,000,000",06:41 (04:22),"FromSoftware, Inc.","FromSoftware, Inc., Bandai Namco Entertainment",...,101.0,NaN,NaN,249.00 SR,91.97%,24 Feb,"1,010,509","52,411","953,426",2022
2,2,98,Mount & Blade II: Bannerlord,"Oct 25, 2022",$49.99,N/A (N/A/77%),"10,000,000 .. 20,000,000",14:13 (07:18),TaleWorlds Entertainment,TaleWorlds Entertainment,...,477.0,NaN,NaN,189.00 SR,87.01%,25 Oct,"845,763","28,790","248,216",2022

In [67]:
steam.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13350 entries, 0 to 19624
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   #                                  13350 non-null  int64
 1   Name                               13350 non-null  object
 2   Release date                       13350 non-null  datetime64[ns]
 3   Price_x                            13350 non-null  float64
 4   Score rank(Userscore / Metascore)  13350 non-null  object
 5   Owners                             13350 non-null  int64
 6   Playtime (Median)                  13350 non-null  object
 7   Developer(s)                       13350 non-null  object
 8   Publisher(s)                       13350 non-null  object
 9   ID                                 13350 non-null  int64
 10  Price_y                            13350 non-null  float64
 11  Rating                             13350 non-null  float64
 12  Follows                            13350 non-null  float64
 13  Online                             13350 non-null  float64
 14  Peak                               13350 non-null  float64
 15  Year                               13350 non-null  int64
 16  Month                              13350 non-null  int32
 17  Day                                13350 non-null  int32
 18  Playtime_Seconds                   13350 non-null  int64
 19  Estimated_Sales_USD                13350 non-null  float64
 20  Estimated_Sales_SAR                13350 non-null  float64
 21  Estimated Sales                    13350 non-null  float64
dtypes: datetime64[ns](1), float64(9), int32(2), int64(5), object(5)
memory usage: 2.2+ MB

In [71]:
dd= pd.read_csv("steam_ratings2022.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'sss.csv'

In [16]:
steam.dtypes

Unnamed: 0.1                           int64
#                                      int64
Name                                  object
Release date                          object
Price_x                               object
Score rank(Userscore / Metascore)     object
Owners                                object
Playtime (Median)                     object
Developer(s)                          object
Publisher(s)                          object
Unnamed: 0                           float64
ID                                   float64
Logo                                 float64
Discount %                            object
Price_y                               object
Rating                                object
Release                               object
Follows                               object
Online                                object
Peak                                  object
Year                                   int64
dtype: object

In [17]:
steam.columns

Index(['Unnamed: 0.1', '#', 'Name', 'Release date', 'Price_x',
       'Score rank(Userscore / Metascore)', 'Owners', 'Playtime (Median)',
       'Developer(s)', 'Publisher(s)', 'Unnamed: 0', 'ID', 'Logo',
       'Discount %', 'Price_y', 'Rating', 'Release', 'Follows', 'Online',
       'Peak', 'Year'],
      dtype='object')

In [18]:
steam[['Owners', 'Playtime (Median)','Price_y', 'Rating', 'Follows', 'Online','Peak']]

,Owners,Playtime (Median),Price_y,Rating,Follows,Online,Peak
0,"50,000,000 .. 100,000,000",03:53 (04:11),Free,70.72%,"279,300","23,294","1,325,305"
1,"20,000,000 .. 50,000,000",06:41 (04:22),249.00 SR,91.97%,"1,010,509","52,411","953,426"
2,"10,000,000 .. 20,000,000",14:13 (07:18),189.00 SR,87.01%,"845,763","28,790","248,216"
3,"10,000,000 .. 20,000,000",07:44 (11:16),56.00 SR,92.51%,"610,544","11,231","101,096"
4,"5,000,000 .. 10,000,000",01:03 (01:02),215.00 SR,94.86%,"275,215","4,248","73,529"
...,...,...,...,...,...,...,...
19620,"0 .. 20,000",04:23 (04:23),11.95 SR,94.49%,"4,397","3,371","9,714"
19621,"0 .. 20,000",04:23 (04:23),11.95 SR,94.49%,"4,398","3,372","9,715"
19622,"0 .. 20,000",04:23 (04:23),11.95 SR,94.49%,"4,399","3,373","9,716"
19623,"0 .. 20,000",04:23 (04:23),11.95 SR,94.49%,"4,400","3,374","9,717"
19624,"0 .. 20,000",04:23 (04:23),11.95 SR,94.49%,"4,401","3,375","9,718"

In [19]:
steam.isnull().sum().sort_values(ascending=False)

Logo                                 19625
Discount %                           17710
Online                                6175
Price_x                                133
Developer(s)                            16
Publisher(s)                            12
Unnamed: 0                               1
Price_y                                  1
Name                                     1
Peak                                     1
Follows                                  1
Release                                  1
Rating                                   1
ID                                       1
Unnamed: 0.1                             0
#                                        0
Playtime (Median)                        0
Owners                                   0
Score rank(Userscore / Metascore)        0
Release date                             0
Year                                     0
dtype: int64

In [20]:
steam.shape

(19625, 21)

In [21]:
steam = steam.drop(columns=["Logo","Discount %","Unnamed: 0","Unnamed: 0.1","Release"])
steam = steam.dropna(subset=['Price_x', 'Publisher(s)', 'Developer(s)','Price_y', 'Rating', 'Follows','Peak','Online'])

In [22]:
steam.isnull().sum().sort_values(ascending=False)

#                                    0
Name                                 0
Release date                         0
Price_x                              0
Score rank(Userscore / Metascore)    0
Owners                               0
Playtime (Median)                    0
Developer(s)                         0
Publisher(s)                         0
ID                                   0
Price_y                              0
Rating                               0
Follows                              0
Online                               0
Peak                                 0
Year                                 0
dtype: int64

In [23]:
steam.shape

(13350, 16)

In [24]:
steam.duplicated().sum()

0

In [25]:
steam['Release date']= pd.to_datetime(steam['Release date'])

In [26]:
steam['Month']= steam['Release date'].dt.month
steam['Day']= steam['Release date'].dt.day

In [27]:
def time_to_seconds(time_str):
    minutes, seconds = map(int, time_str.split(':'))
    return minutes * 60 + seconds

# Extract the main playtime and convert to total seconds
steam['Playtime_Seconds'] = steam['Playtime (Median)'].str.split(' ').str[0].apply(time_to_seconds)
steam[['Playtime (Median)', 'Playtime_Seconds']]

      Playtime (Median)  Playtime_Seconds
0         03:53 (04:11)               233
1         06:41 (04:22)               401
2         14:13 (07:18)               853
3         07:44 (11:16)               464
4         01:03 (01:02)                63
...                 ...               ...
19620     04:23 (04:23)               263
19621     04:23 (04:23)               263
19622     04:23 (04:23)               263
19623     04:23 (04:23)               263
19624     04:23 (04:23)               263

[13350 rows x 2 columns]

In [28]:
steam["ID"]= steam["ID"].astype("int64")
steam["Rating"] = steam["Rating"].str.rstrip('%').astype(float)
steam['Rating'] = steam['Rating'] / 100

In [29]:
steam["Price_x"] = steam["Price_x"].str.lstrip('$')
steam["Price_x"] = steam["Price_x"].replace({'Free':0}).astype(float)

In [30]:
steam['Owners']

0        50,000,000 .. 100,000,000
1         20,000,000 .. 50,000,000
2         10,000,000 .. 20,000,000
3         10,000,000 .. 20,000,000
4          5,000,000 .. 10,000,000
                   ...
19620                  0 .. 20,000
19621                  0 .. 20,000
19622                  0 .. 20,000
19623                  0 .. 20,000
19624                  0 .. 20,000
Name: Owners, Length: 13350, dtype: object

In [31]:
steam

,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),ID,Price_y,Rating,Follows,Online,Peak,Year,Month,Day,Playtime_Seconds
0,10111,Lost Ark,2022-02-11,0.00,N/A (N/A),"50,000,000 .. 100,000,000",03:53 (04:11),Smilegate RPG,Amazon Games,5655,Free,0.7072,"279,300","23,294","1,325,305",2022,2,11,233
1,2,ELDEN RING,2022-02-24,59.99,N/A (N/A/94%),"20,000,000 .. 50,000,000",06:41 (04:22),"FromSoftware, Inc.","FromSoftware, Inc., Bandai Namco Entertainment",101,249.00 SR,0.9197,"1,010,509","52,411","953,426",2022,2,24,401
2,98,Mount & Blade II: Bannerlord,2022-10-25,49.99,N/A (N/A/77%),"10,000,000 .. 20,000,000",14:13 (07:18),TaleWorlds Entertainment,TaleWorlds Entertainment,477,189.00 SR,0.8701,"845,763","28,790","248,216",2022,10,25,853
3,10112,Raft,2022-06-20,19.99,N/A (N/A),"10,000,000 .. 20,000,000",07:44 (11:16),Redbeet Interactive,Axolot Games,76,56.00 SR,0.9251,"610,544","11,231","101,096",2022,6,20,464
4,4,God of War,2022-01-14,49.99,N/A (N/A/93%),"5,000,000 .. 10,000,000",01:03 (01:02),"Santa Monica Studio, Jetpack Interactive",PlayStation Publishing LLC,17,215.00 SR,0.9486,"275,215","4,248","73,529",2022,1,14,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19620,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,6012,11.95 SR,0.9449,"4,397","3,371","9,714",2024,10,11,263
19621,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,7211,11.95 SR,0.9449,"4,398","3,372","9,715",2024,10,11,263
19622,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,8410,11.95 SR,0.9449,"4,399","3,373","9,716",2024,10,11,263
19623,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,9609,11.95 SR,0.9449,"4,400","3,374","9,717",2024,10,11,263
19624,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),"0 .. 20,000",04:23 (04:23),lamedeveloper,lamedeveloper,10808,11.95 SR,0.9449,"4,401","3,375","9,718",2024,10,11,263

In [32]:
steam['Price_y'] = steam['Price_y'].str.strip('SR')
steam['Price_y'] = steam['Price_y'].replace({'—': 0})
steam["Price_y"] = steam["Price_y"].replace({'Free':0}).astype(float)

In [33]:
steam['Follows'] = steam['Follows'].str.replace(',', '')
steam['Follows'] =steam["Follows"].astype(float)

In [34]:
steam['Online'] = steam['Online'].str.replace(',', '')
steam['Online'] = steam['Online'].replace('—', np.nan)
steam['Online'] = steam['Online'].fillna(0)
steam['Online'] = steam['Online'].astype(float)

In [35]:
steam['Peak'] = steam['Peak'].str.replace(',', '')
steam['Peak'] = steam['Peak'].replace('—', np.nan)
steam['Peak'] = steam['Peak'].fillna(0)
steam['Peak'] = steam['Peak'].astype(float)

In [36]:
steam.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13350 entries, 0 to 19624
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   #                                  13350 non-null  int64
 1   Name                               13350 non-null  object
 2   Release date                       13350 non-null  datetime64[ns]
 3   Price_x                            13350 non-null  float64
 4   Score rank(Userscore / Metascore)  13350 non-null  object
 5   Owners                             13350 non-null  object
 6   Playtime (Median)                  13350 non-null  object
 7   Developer(s)                       13350 non-null  object
 8   Publisher(s)                       13350 non-null  object
 9   ID                                 13350 non-null  int64
 10  Price_y                            13350 non-null  float64
 11  Rating                             13350 non-null  float64
 12  Follows                            13350 non-null  float64
 13  Online                             13350 non-null  float64
 14  Peak                               13350 non-null  float64
 15  Year                               13350 non-null  int64
 16  Month                              13350 non-null  int32
 17  Day                                13350 non-null  int32
 18  Playtime_Seconds                   13350 non-null  int64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(4), object(6)
memory usage: 1.9+ MB

In [37]:
# games= pd.read_csv("games.csv")
# games.head(3)
# games.rename(columns={'QueryName': 'Name'}, inplace=True)
# result = pd.merge(games, steam, on="Name")
# print(result.shape)
# result.head(2)

In [38]:
# Clean and split the Owners column using regex
def clean_owners(owners):
    cleaned = re.findall(r'\d+', owners.replace('\xa0', '').replace(',', ''))
    return (int(cleaned[0]) + int(cleaned[1])) // 2

steam['Owners'] = steam['Owners'].apply(clean_owners)

In [39]:
steam['Owners']

0        75000000
1        35000000
2        15000000
3        15000000
4         7500000
           ...
19620       10000
19621       10000
19622       10000
19623       10000
19624       10000
Name: Owners, Length: 13350, dtype: int64

In [40]:
# # Clean and split the Owners column using regex
# def clean_owners(owners):
#     cleaned = re.findall(r'\d+', owners.replace('\xa0', '').replace(',', ''))
#     return (int(cleaned[0]) + int(cleaned[1])) // 2

# steam['Owners'] = steam['Owners']

In [41]:
steam['Estimated_Sales_USD'] = steam['Owners'] * steam['Price_x']
steam['Estimated_Sales_SAR'] = steam['Owners'] * steam['Price_y']

In [42]:
steam[['Name','Price_x','Estimated_Sales_USD','Price_y','Estimated_Sales_SAR','Publisher(s)']][steam["Year"]== 2024].min()

Name                   1 to 1 humanoid edible toys
Price_x                                        0.0
Estimated_Sales_USD                            0.0
Price_y                                        0.0
Estimated_Sales_SAR                            0.0
Publisher(s)               0 Deer Soft Partnership
dtype: object

In [43]:
steam.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13350 entries, 0 to 19624
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   #                                  13350 non-null  int64
 1   Name                               13350 non-null  object
 2   Release date                       13350 non-null  datetime64[ns]
 3   Price_x                            13350 non-null  float64
 4   Score rank(Userscore / Metascore)  13350 non-null  object
 5   Owners                             13350 non-null  int64
 6   Playtime (Median)                  13350 non-null  object
 7   Developer(s)                       13350 non-null  object
 8   Publisher(s)                       13350 non-null  object
 9   ID                                 13350 non-null  int64
 10  Price_y                            13350 non-null  float64
 11  Rating                             13350 non-null  float64
 12  Follows                            13350 non-null  float64
 13  Online                             13350 non-null  float64
 14  Peak                               13350 non-null  float64
 15  Year                               13350 non-null  int64
 16  Month                              13350 non-null  int32
 17  Day                                13350 non-null  int32
 18  Playtime_Seconds                   13350 non-null  int64
 19  Estimated_Sales_USD                13350 non-null  float64
 20  Estimated_Sales_SAR                13350 non-null  float64
dtypes: datetime64[ns](1), float64(8), int32(2), int64(5), object(5)
memory usage: 2.1+ MB

In [47]:
X = steam[['Owners', 'Rating']]
y = steam['Owners'] * steam['Price_y']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
steam['Estimated Sales'] = model.predict(X)
steam

Mean Absolute Error: 31120161.399709363

,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),ID,...,Follows,Online,Peak,Year,Month,Day,Playtime_Seconds,Estimated_Sales_USD,Estimated_Sales_SAR,Estimated Sales
0,10111,Lost Ark,2022-02-11,0.00,N/A (N/A),75000000,03:53 (04:11),Smilegate RPG,Amazon Games,5655,...,279300.0,23294.0,1325305.0,2022,2,11,233,0.000000e+00,0.000000e+00,1.164645e+10
1,2,ELDEN RING,2022-02-24,59.99,N/A (N/A/94%),35000000,06:41 (04:22),"FromSoftware, Inc.","FromSoftware, Inc., Bandai Namco Entertainment",101,...,1010509.0,52411.0,953426.0,2022,2,24,401,2.099650e+09,8.715000e+09,5.418156e+09
2,98,Mount & Blade II: Bannerlord,2022-10-25,49.99,N/A (N/A/77%),15000000,14:13 (07:18),TaleWorlds Entertainment,TaleWorlds Entertainment,477,...,845763.0,28790.0,248216.0,2022,10,25,853,7.498500e+08,2.835000e+09,2.315205e+09
3,10112,Raft,2022-06-20,19.99,N/A (N/A),15000000,07:44 (11:16),Redbeet Interactive,Axolot Games,76,...,610544.0,11231.0,101096.0,2022,6,20,464,2.998500e+08,8.400000e+08,2.311254e+09
4,4,God of War,2022-01-14,49.99,N/A (N/A/93%),7500000,01:03 (01:02),"Santa Monica Studio, Jetpack Interactive",PlayStation Publishing LLC,17,...,275215.0,4248.0,73529.0,2022,1,14,63,3.749250e+08,1.612500e+09,1.144623e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19620,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,6012,...,4397.0,3371.0,9714.0,2024,10,11,263,4.990000e+04,1.195000e+05,-1.850137e+07
19621,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,7211,...,4398.0,3372.0,9715.0,2024,10,11,263,4.990000e+04,1.195000e+05,-1.850137e+07
19622,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,8410,...,4399.0,3373.0,9716.0,2024,10,11,263,4.990000e+04,1.195000e+05,-1.850137e+07
19623,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,9609,...,4400.0,3374.0,9717.0,2024,10,11,263,4.990000e+04,1.195000e+05,-1.850137e+07
19624,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,10808,...,4401.0,3375.0,9718.0,2024,10,11,263,4.990000e+04,1.195000e+05,-1.850137e+07

In [55]:
steam.groupby(["Name","Developer(s)"])[["Estimated_Sales_USD"]].sum()

                                                                                Estimated_Sales_USD
Name                                             Developer(s)
(square)                                         Brennan Curtis Cottrell                        0.0
(the) Gnorp Apologue                             Myco                                     2446500.0
---Red---Tether-->                               Sleeper Games                             129900.0
-The Sacrificial Girl of the Fantasy 3 Kingdoms- selenophobia                              419650.0
...Knew the Beginning                            Janne                                      19900.0
...                                                                                             ...
사괴야행                                             Geukte, MadBee, Arkneru, DEVA                  0.0
슬픈 가족사 - 산장으로부터의 탈출                              C's earth                                  34650.0
유어 블라이트                                          IGNOST                                    699650.0
피랍 일지 - 그 남자로부터의 탈출                              C's earth                                  69650.0
～Daydream～When butterflies dance                 Kokutou Umeboshi                           99900.0

[7089 rows x 1 columns]

In [48]:
scaler = StandardScaler() #normalization
X = scaler.fit_transform(steam[['Owners', 'Rating']])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_absolute_error')
print(f'Mean Cross-Validated MAE: {-scores.mean()}')

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

Mean Cross-Validated MAE: 25268713.27968534
Mean Absolute Error: 31120161.399708923

In [60]:
steam.columns

Index(['#', 'Name', 'Release date', 'Price_x',
       'Score rank(Userscore / Metascore)', 'Owners', 'Playtime (Median)',
       'Developer(s)', 'Publisher(s)', 'ID', 'Price_y', 'Rating', 'Follows',
       'Online', 'Peak', 'Year', 'Month', 'Day', 'Playtime_Seconds',
       'Estimated_Sales_USD', 'Estimated_Sales_SAR', 'Estimated Sales'],
      dtype='object')

In [57]:
mae/y_test.mean()

0.24092208188400696

In [49]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
# predictions and calcu MAE
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
steam['Estimated Sales'] = model.predict(X)

Mean Absolute Error: 4634923.897827254

,#,Name,Release date,Price_x,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),ID,...,Follows,Online,Peak,Year,Month,Day,Playtime_Seconds,Estimated_Sales_USD,Estimated_Sales_SAR,Estimated Sales
0,10111,Lost Ark,2022-02-11,0.00,N/A (N/A),75000000,03:53 (04:11),Smilegate RPG,Amazon Games,5655,...,279300.0,23294.0,1325305.0,2022,2,11,233,0.000000e+00,0.000000e+00,5.801692e+09
1,2,ELDEN RING,2022-02-24,59.99,N/A (N/A/94%),35000000,06:41 (04:22),"FromSoftware, Inc.","FromSoftware, Inc., Bandai Namco Entertainment",101,...,1010509.0,52411.0,953426.0,2022,2,24,401,2.099650e+09,8.715000e+09,6.571539e+09
2,98,Mount & Blade II: Bannerlord,2022-10-25,49.99,N/A (N/A/77%),15000000,14:13 (07:18),TaleWorlds Entertainment,TaleWorlds Entertainment,477,...,845763.0,28790.0,248216.0,2022,10,25,853,7.498500e+08,2.835000e+09,2.128638e+09
3,10112,Raft,2022-06-20,19.99,N/A (N/A),15000000,07:44 (11:16),Redbeet Interactive,Axolot Games,76,...,610544.0,11231.0,101096.0,2022,6,20,464,2.998500e+08,8.400000e+08,8.359703e+08
4,4,God of War,2022-01-14,49.99,N/A (N/A/93%),7500000,01:03 (01:02),"Santa Monica Studio, Jetpack Interactive",PlayStation Publishing LLC,17,...,275215.0,4248.0,73529.0,2022,1,14,63,3.749250e+08,1.612500e+09,1.265025e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19620,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,6012,...,4397.0,3371.0,9714.0,2024,10,11,263,4.990000e+04,1.195000e+05,1.221540e+05
19621,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,7211,...,4398.0,3372.0,9715.0,2024,10,11,263,4.990000e+04,1.195000e+05,1.221540e+05
19622,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,8410,...,4399.0,3373.0,9716.0,2024,10,11,263,4.990000e+04,1.195000e+05,1.221540e+05
19623,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,9609,...,4400.0,3374.0,9717.0,2024,10,11,263,4.990000e+04,1.195000e+05,1.221540e+05
19624,11458,WEBFISHING,2024-10-11,4.99,N/A (N/A),10000,04:23 (04:23),lamedeveloper,lamedeveloper,10808,...,4401.0,3375.0,9718.0,2024,10,11,263,4.990000e+04,1.195000e+05,1.221540e+05